h1 {
    color: #f72585;
    text-align: center;
}

h2 {
    color: #3f37c9;
}

p {
    color: #4579db;
}

div {
    border: 5px solid #560bad;
    background-color: #f1faee;
    text-align: center;
}